
.content {
    max-width: 970px;
}

@media(max-width: 991px) {
    .content {
        margin:0 6px;
    }
}

.content .friends-subtitle {
    margin: 0 0 6px 6px;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
}

@media(max-width: 767px) {
    .content .friends-subtitle {
        font-size:21px;
    }
}

.content .rbx-tooltip {
    display: inline-block;
}

.content .rbx-tooltip .rbx-icon-moreinfo {
    background-position: 0 -200px;
    background-size: 40px auto;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}

.content .ignore-button {
    float: right;
    margin-top: 12px;
}

@media(max-width: 479px) {
    .content .ignore-button {
        width:100%;
        margin-bottom: 6px;
    }
}

.content .hide-template {
    opacity: 0;
    transition: all,0.2s,ease-in-out;
}

.content .horizontal-tabs {
    margin-bottom: 12px;
}

.content .friends-title {
    font-size: 48px;
    padding-left: 12px;
    margin-top: 0;
}

@media(max-width: 767px) {
    .content .friends-title {
        font-size:36px;
        padding-left: 9px;
    }
}

.content .nav-tabs {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 12px;
}

.content .rbx-tab {
    width: 25%;
    transition: all,0.2s,ease-in-out;
}

.content .rbx-tab:hover {
    box-shadow: 0 -4px 0 0 #00a2ff inset;
    transition: all,0.2s,ease-in-out;
}

.content .rbx-tab:hover .rbx-tab-heading .rbx-lead {
    color: #00a2ff;
}

.content .rbx-tab .rbx-lead {
    color: #191919;
    font-weight: 400;
    transition: all,0.2s,ease-in-out;
}

@media(max-width: 479px) {
    .content .rbx-tab .rbx-lead {
        font-size:16px;
    }
}

.content .rbx-tab.subtract-item {
    width: 33.33333%;
    transition: all,0.2s,ease-in-out;
}

.content .rbx-tab.subtract-item:hover {
    box-shadow: 0 -4px 0 0 #00a2ff inset;
    transition: all,0.2s,ease-in-out;
}

.content .friends-content {
    height: 670px;
}

.content .friends-content .rbx-tab-content {
    margin: 0;
}

.content .friends-container {
    display: inline-block;
    float: left;
    width: 33.33333%;
    position: relative;
    padding: 4px 6px;
}

@media(max-width: 991px) {
    .content .friends-container {
        width:50%;
    }
}

@media(max-width: 767px) {
    .content .friends-container {
        width:100%;
    }
}

.content .friends-container .friends-card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(150,150,150,0.74);
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all,0.2s,ease-in-out;
}

.content .friends-container .friends-card:hover {
    box-shadow: 0 1px 6px 0 #757575;
}

.content .friends-container .friends-card .friends-image {
    display: inline-block;
    float: left;
    margin: 9px;
    border: #ddd 1px solid;
}

@media(max-width: 767px) {
    .content .friends-container .friends-card .friends-image .icon-container {
        display:none;
    }
}

.content .friends-container .friends-card .friends-image .icon-container .rbx-icon-online,.content .friends-container .friends-card .friends-image .icon-container .rbx-icon-game,.content .friends-container .friends-card .friends-image .icon-container .rbx-icon-studio {
    background-size: 28px auto;
    position: absolute;
    left: 74px;
    bottom: 8px;
}

.content .friends-container .friends-card .friends-image img {
    width: 72px;
    height: 72px;
}

@media(max-width: 767px) {
    .content .friends-container .friends-card .friends-image img.online {
        box-shadow:0 -6px 0 0 #00a2ff inset;
    }

    .content .friends-container .friends-card .friends-image img.game {
        box-shadow: 0 -6px 0 0 #02b757 inset;
    }

    .content .friends-container .friends-card .friends-image img.studio {
        box-shadow: 0 -6px 0 0 #f68802 inset;
    }
}

.content .friends-container .friends-card .friends-name {
    float: left;
    margin: 12px 0 0 0;
    font-weight: 400;
    width: 38%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    white-space: nowrap;
}

.content .friends-container .friends-card .friends-name:after {
    background-image: linear-gradient(to right,rgba(255,255,255,0) 0,#fff 90%);
    content: "";
    height: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10%;
}

.content .friends-container .friends-card .friends-name.no-buttons {
    width: 66%;
}

.content .friends-container .friends-card .friends-status {
    float: left;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    width: 38%;
    height: 40px;
    word-break: break-all;
}

.content .friends-container .friends-card .friends-status.online {
    color: #00a2ff;
}

.content .friends-container .friends-card .friends-status.fail {
    color: #e2231a;
}

.content .friends-container .friends-card .friends-status.success {
    color: #02b757;
    font-size: 16px;
    white-space: nowrap;
}

.content .friends-container .friends-card .friends-status.no-buttons {
    width: 60%;
}

.content .friends-container .friends-card .button-container {
    float: right;
    width: 30%;
    padding: 9px;
    position: relative;
    top: 18px;
}

.content .friends-container .friends-card .button-container .rbx-btn-control-xs,.content .friends-container .friends-card .button-container .rbx-btn-secondary-xs {
    padding: 7px 0;
    width: 100%;
}

.content .friends-container .friends-card .button-container .rbx-btn-secondary-xs {
    margin-bottom: 6px;
}

.content .friends-container .friends-card .button-container .rbx-btn-secondary-xs:hover {
    background-color: #32b5ff;
    border-color: #32b5ff;
}

.content .friends-container .friends-card .button-container.friend-requests {
    top: 0;
}

.content .pager-holder {
    display: -webkit-flex;
    width: 100%;
}

.content .pager-holder .rbx-pager {
    width: auto;
    margin: auto;
}

.content .pager-holder .rbx-pager-next,.content .pager-holder .rbx-pager-prev {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(max-width: 479px) {
    .content .pager-holder {
        padding-top:10px;
    }
}

.content .pager li>span {
    background: none;
}

.content .rbx-pager-total .fixed-spacing {
    padding: 0;
}

.content .pager li>a:hover {
    background-color: white;
}

.content .pager {
    margin: 0;
}




