
.rbx-tabs-vertical .nav-tabs {
    display: block;
    width: 150px;
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    float: left;
    background-color: white;
    box-shadow: 0 1px 3px rgba(150,150,150,0.74);
}

.rbx-tabs-vertical .tab-content {
    width: 84%;
    width: calc(100% - 150px);
    padding-left: 1%;
}

.rbx-tabs-vertical .rbx-tab {
    width: 150px;
    height: 40px;
}

.rbx-tabs-vertical .rbx-tab-heading {
    padding: 8px 0 8px 12px;
    height: 42px;
}

.rbx-tabs-vertical ul {
    border: none;
    width: 100%;
}

.category-dropdown {
    display: none;
}

.category-dropdown .rbx-input-group-btn {
    width: 96%;
    width: calc(100% - 12px);
    margin-left: 6px;
}

.open .rbx-dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
}

.nav-tabs>li>a {
    margin-right: 0;
}

.rbx-lead {
    font-weight: 300;
    color: #191919;
}

.active .rbx-lead {
    color: #00a2ff;
    font-weight: 400;
}

.h3 {
    padding-left: 12px;
    margin-top: 0;
}

.inventory-hide {
    visibility: hidden;
}

.inventory-main-content {
    position: relative;
    margin-bottom: 0;
}

.inventory-main-content .inventory-items {
    width: 100%;
    padding-top: 5px;
}

.content {
    max-width: 970px;
    padding: 0;
}

h3 {
    color: #191919;
}

.container-header {
    height: 40px;
    padding: 5px 1% 0;
}

.container-header .inventory-title {
    float: left;
}

.container-header .inventory-title h3 {
    width: 100%;
    line-height: 1em;
}

.container-header .inventory-title .rbx-font-sm {
    color: #757575;
}

.container-header .header-content {
    float: right;
    padding-top: 5px;
}

.container-header .header-content .get-more {
    float: right;
    display: inline-block;
    width: 140px;
    text-align: right;
    margin: 2px 6px 0 0;
}

.container-header .places-dropdown {
    width: 180px;
}

.inventory-item {
    width: 16.6%;
    padding: .75% 1%;
}

.inventory-item .inventory-name,.inventory-item .inventory-creator,.inventory-item .inventory-cost,.inventory-item .inventory-cost-tix,.inventory-item .inventory-thumb {
    display: block;
}

.inventory-item .item-thumb {
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    display: block;
}

.inventory-item .item-thumb img {
    height: 110px;
    width: 110px;
    display: block;
    margin: auto;
}

.inventory-item .item-thumb .item-overlay {
    position: absolute;
    bottom: -2px;
    left: -7px;
}

.inventory-item .item-thumb .item-expire-time-label {
    position: absolute;
    left: 0;
    right: 0;
    padding: 2px 6px;
    background-color: #d86868;
    color: white;
    line-height: 1em;
    text-align: center;
}

.inventory-item .item-thumb .item-serial-number {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background-color: #191919;
    color: white;
    line-height: 1em;
    text-align: center;
}

.inventory-item .inventory-name {
    padding-top: 5px;
}

.inventory-item .inventory-cost {
    color: #02b757;
    padding-top: 5px;
    line-height: 1.7em;
    font-weight: 600;
}

.inventory-item .inventory-cost-text {
    padding-left: 3px;
}

.inventory-item .inventory-creator {
    padding-top: 5px;
}

.inventory-item .inventory-creator .inventory-creator-by {
    color: #757575;
}

.inventory-item .inventory-item-link {
    background-color: white;
    box-shadow: 0 1px 3px rgba(150,150,150,0.74);
    border-radius: 3px;
    width: 100%;
    min-width: 123px;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    transition: all,0.2s,ease-in-out;
}

.inventory-item .inventory-item-link:hover {
    box-shadow: 0 1px 6px 0 #757575;
}

.rbx-touch .inventory-item-link:hover {
    box-shadow: 0 1px 3px rgba(150,150,150,0.74);
}

.inventory-items .place-item {
    width: 20%;
    padding: 1%;
    padding-bottom: 12px;
}

.inventory-items .place-item .inventory-name {
    font-size: 16px;
}

.inventory-items .place-item .item-thumb img {
    height: 140px;
    width: 140px;
    width: 100%;
    height: auto;
}

.inventory-items .section {
    margin: 0;
    height: 120px;
    font-size: 16px;
    text-align: center;
    width: 98%;
    margin-left: .75%;
    padding-top: 45px;
}

.pager li>span {
    background: none;
}

.pager li>a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pager li>a:hover {
    background-color: white;
}

.rbx-pager li.rbx-pager-cur input {
    width: 28px;
}

.pager {
    margin: 0;
}

.rbx-icon-robux-sm {
    vertical-align: bottom;
}

.recommendations-container {
    width: 84%;
    width: calc(100% - 150px);
    float: right;
    padding-left: 5px;
}

@media(max-width: 1199px) {
    .inventory-item {
        padding:1%;
        padding-bottom: 12px;
    }
}

.pager-holder {
    display: flex;
    width: 100%;
}

.pager-holder .rbx-pager {
    width: auto;
    margin: auto;
}

@media(max-width: 1024px) {
    .inventory-item {
        width:25%;
    }

    .inventory-items .place-item {
        width: 25%;
    }

    .container-header .header-content {
        display: none;
    }

    .container-header .places-dropdown {
        display: block;
    }
}

@media(max-width: 767px) {
    .inventory-item {
        width:33.33%;
    }

    .inventory-items .place-item {
        width: 33.33%;
    }
}

@media(max-width: 991px) {
    .rbx-tabs-vertical .tab-content {
        width:80%;
        width: calc(100% - 150px);
    }
}

@media(max-width: 767px) {
    .inventory-item {
        width:50%;
    }

    .inventory-items .place-item {
        width: 50%;
    }

    .rbx-tabs-vertical .tab-content {
        width: 100%;
    }

    .rbx-tabs-vertical .nav-tabs {
        display: none;
    }

    .category-dropdown {
        display: block;
    }

    .recommendations-container {
        width: 100%;
    }

    .container-header .places-dropdown {
        display: block;
        position: relative;
        width: 100%;
    }

    .place-header {
        height: 100px;
    }
}

.inventory-join-btn {
    width: 98%;
    margin: 1%;
}

.recommendations-header {
    height: 0;
    margin-bottom: 0;
}

.inventory-cost .rbx-icon-robux {
    background-position: 0 -80px;
    vertical-align: bottom;
    background-size: 40px auto;
    width: 20px;
    height: 20px;
}

.current-items {
    -webkit-transition: all,0.1s,ease-in-out;
    -o-transition: all,0.1s,ease-in-out;
    transition: all,0.1s,ease-in-out;
    opacity: 1;
}

.hide-items {
    opacity: 0;
}

.rbx-btn-primary-sm:visited {
    background-color: #02b757;
}

.rbx-btn-primary-sm:visited:hover {
    background-color: #3fc679;
}


.recommended-item {
    width: 16.6%;
    padding: 1%;
    padding-bottom: 12px;
}

.recommended-item .recommended-name,.recommended-item .recommended-creator,.recommended-item .recommended-cost,.recommended-item .recommended-thumb {
    display: block;
    color: #191919;
}

.recommended-item .recommended-thumb {
    border-bottom: 1px solid #f2f2f2;
}

.recommended-item .recommended-thumb img {
    display: block;
    margin: auto;
    width: 110px;
    height: 110px;
}

.recommended-item .recommended-thumb .item-overlay {
    position: absolute;
    bottom: 0;
}

.recommended-item .recommended-name {
    padding-top: 5px;
}

.recommended-item .recommended-cost {
    color: #02b757;
    padding-top: 5px;
    line-height: 1.7em;
}

.recommended-item .recommended-creator {
    padding-top: 5px;
}

.recommended-item .recommended-creator .inv-creator-by {
    color: #757575;
}

.recommended-item .recommended-item-link {
    background-color: white;
    box-shadow: 0 1px 3px rgba(150,150,150,0.74);
    border-radius: 3px;
    width: 100%;
    min-width: 123px;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    transition: all,0.2s,ease-in-out;
}

.recommended-item .recommended-item-link:hover {
    box-shadow: 0 1px 6px 0 #757575;
}

.rbx-touch .inv-item-link:hover {
    box-shadow: 0 1px 3px rgba(150,150,150,0.74);
}

.recommended-items .place-item {
    width: 20%;
    padding: 1%;
    padding-bottom: 12px;
}

@media(max-width: 1024px) {
    .recommended-items .place-item {
        width:25%;
    }
}

@media(max-width: 767px) {
    .recommended-items .place-item {
        width:33.33%;
    }
}

@media(max-width: 479px) {
    .recommended-items .place-item {
        width:50%;
    }
}

.recommended-items .place-item .recommended-name {
    font-size: 16px;
}

.recommended-items .place-item .recommended-thumb img {
    height: 140px;
    width: 140px;
    height: auto;
}

.recommendations-container .recommended-items {
    height: 175px;
    overflow: hidden;
}

.recommendations-container .recommended-items.place-items {
    height: 210px;
}

@media(max-width: 1199px) {
    .recommended-item {
        padding:1% 1% 12px 1%;
    }
}

@media(max-width: 1024px) {
    .recommended-item {
        width:25%;
    }
}

@media(max-width: 767px) {
    .recommended-item {
        width:33.33%;
    }
}

@media(max-width: 479px) {
    .recommended-item {
        width:50%;
    }
}




