




div#catalog .browseDropdownHeader {
    background: url('../images/UI/catalog/browse-by-category-header.png') no-repeat top left;
    width: 136px;
    background-size: 136px auto;
    overflow: hidden;
}


div#catalog div#dropdown ul li.subcategories {
    background: url('../images/UI/catalog/img-right_arrow.png') no-repeat 118px 11px;
}

div#catalog div#dropdown ul li.subcategories:hover {
    background: #d8d8d8 url('../images/UI/catalog/img-right_arrow.png') no-repeat 118px 11px;
}


div#catalog #legend .header {
    background: url('../images/UI/catalog/sprite-arrow.png') no-repeat;
}

div#catalog #legend .header.expanded {
    background: url('../images/UI/catalog/sprite-arrow.png') no-repeat bottom left;
}


div#catalog #legend .header:not(.expanded) + #legendcontent {
    display: none;
}

div#catalog #legend .header {
    cursor: pointer;
}


div#catalog .icon-robux-16x16 {
    background-image: url('../images/NextStyleGuide/branded.svg');
}




div#catalog {
    font-size: 12px;
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
}


div#catalog .left-nav-menu {
    float: left;
    width: 150px;
    z-index: 7;
    position: relative;
    border-right: 2px solid #ddd;
    padding-right: 10px;
    box-sizing: content-box;
}


div#catalog .right-content {
    float: left;
    width: 792px;
    padding-left: 15px;
    z-index: 1;
    position: relative;
    box-sizing: content-box;
    overflow: visible;
}


div#catalog > .clearfix:first-child {
    margin-bottom: 15px;
    overflow: hidden;
}

div#catalog h1 {
    font-size: 32px;
    font-weight: bold;
    color: #343434;
    letter-spacing: -1px;
    float: left;
}


div#catalog .CatalogSearchBar {
    float: right;
    padding-top: 5px;
    padding-right: 6px;
}

div#catalog .CatalogSearchBar input#keywordTextbox {
    width: 325px;
    float: left;
    padding: 13px 5px;
    margin-right: 4px;
    border: 1px solid #a7a7a7;
}

div#catalog #categoriesForKeyword {
    border: 1px solid #a7a7a7;
    font-size: 12px;
    font-weight: 600;
    color: black;
    height: 27px;
    width: 150px;
    float: left;
    margin-right: 4px;
    padding: 0 20px 0 5px;
    background-color: #fff;
    background-image: url('../images/UI/catalog/dropdown.png');
    background-position: right 4px;
    background-repeat: no-repeat;
}

div#catalog #categoriesForKeyword:hover,
div#catalog #categoriesForKeyword:focus {
    background-position: right -27px;
}

div#catalog #submitSearchButton {
    float: left;
    font-weight: bold;
}


div#catalog .right-content .btn-medium.btn-primary {
    position: absolute;
    right: 0;
    top: 0;
}



div#catalog div#dropdown {
    font-size: 14px;
}

div#catalog div#dropdown ul#dropdownUl {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 134px;
    border: 1px solid #777;
    background: #efefef;
}

div#catalog div#dropdown ul li {
    position: relative;
    height: 31px;
    float: left;
    width: 134px;
    list-style: none;
}

div#catalog div#dropdown ul li a,
div#catalog div#dropdown ul li span {
    display: block;
    text-decoration: none;
    color: black;
    padding: 7px 6px;
}

div#catalog div#dropdown ul li:hover {
    background: #d8d8d8;
}

div#catalog div#dropdown ul li.subcategories {
    background: url('../images/UI/catalog/img-right_arrow.png');
    background-position: 118px 11px;
    background-repeat: no-repeat;
}

div#catalog div#dropdown ul li.subcategories:hover {
    background: #d8d8d8 url('../images/UI/catalog/img-right_arrow.png') no-repeat 118px 11px;
}


div#catalog div#dropdown li ul {
    position: absolute;
    left: 134px;
    top: 0;
    display: none;
}

div#catalog div#dropdown ul li ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #777;
    background: #efefef;
}

div#catalog div#dropdown ul#dropdownUl ul.slideOut {
    z-index: 7;
    width: 134px;
}

div#catalog div#dropdown ul#dropdownUl ul.slideOut a {
    padding-right: 5px;
}

div#catalog div#dropdown ul.slideOut li {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    height: auto;
}

div#catalog div#dropdown ul li:hover ul {
    display: block;
}

div#catalog div#dropdown li.slideHeader {
    border-bottom: 1px solid lightgrey;
}

div#catalog div#dropdown li.slideHeader:hover {
    cursor: default;
    background: #efefef;
}

div#catalog div#dropdown li.DropdownDivider {
    border-bottom: 1px solid #ccc;
    height: 1px;
    float: left;
    margin-bottom: 1px;
    margin-left: 5px;
    width: 92%;
}

div#catalog div#dropdown li.DropdownDivider:hover {
    background: #efefef;
    cursor: default;
}

div#catalog div#dropdown ul li span {
    font-weight: bold;
}



div#catalog #legend {
    padding: 18px 20px 5px 0;
}

div#catalog #legendcontent {
    width: 137px;
    margin-top: 17px;
    margin-left: 5px;
}


div#catalog #legendcontent img {
    height: auto;
    display: block;
    margin-bottom: 5px;
}

div#catalog #legend .legendText {
    margin-top: 3px;
    font-size: 14px;
    line-height: 1.4;
}

div#catalog #legend h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    display: inline;
}




div#catalog #CatalogItemsContainer {
    min-height: 400px;
    overflow: visible;
}


div#catalog .right-content {
    overflow: visible;
}


div#catalog .BigOuter {
    float: left;
}


div#catalog img.original-image {
    width: 110px;
    height: 110px;
}


div#catalog .image-large img.original-image {
    width: 150px;
    height: 150px;
}


div#catalog .CatalogItemName {
    font-size: 12px;
}


div#catalog .CatalogItemOuter {
    padding: 24px 8px;
}


div#catalog .item-image-wrapper .limited-overlay,
div#catalog .item-image-wrapper .bc-overlay {
    height: auto;
    margin-bottom: -5px;
}



div#catalog .PagingContainerDivTop {
    clear: both;
    padding-top: 40px;
    text-align: center;
}


div#catalog .PagingContainerDivTop .pager,
div#catalog .PagingContainerDivTop .page.text {
    display: inline-block;
    vertical-align: middle;
}

div#catalog .PagingContainerDivTop .page.text {
    padding: 0 10px;
    position: relative;
    top: 0;
}


div#catalog .pager.previous {
    background: url('../images/Buttons/Arrows/btn-silver-left-27.png') no-repeat top left;
}

div#catalog .pager.next {
    background: url('../images/Buttons/Arrows/btn-silver-right-27.png') no-repeat top left;
}

div#catalog .pager.previous:hover,
div#catalog .pager.next:hover {
    background-position: bottom left;
}



div#catalog .loading {
    display: none;
}




div#catalog .filter-title + ul#genresUl[style*="display:none"] {
    display: none;
}




div#catalog #subcategoryUl {
    padding-left: 4px;
    font-size: 12px;
}

div#catalog #subcategoryUl li {
    list-style: none;
}

div#catalog #subcategoryUl .assetTypeFilter:hover {
    text-decoration: underline;
}

div#catalog #subcategoryUl .assetTypeFilter.selected {
    font-weight: 600;
    color: #343434;
    text-decoration: none;
}


div#catalog ul#creatorsUl {
    display: block;
    font-size: 12px;
}

div#catalog ul#creatorsUl li {
    display: block;
    float: none;
    height: auto;
    width: auto;
}

div#catalog .creatorFilter:hover {
    text-decoration: underline;
}

div#catalog .creatorFilter.selected {
    font-weight: 600;
    color: #343434;
}


div#catalog #creatorTextbox {
    width: 90px;
    height: 18px;
    padding: 0 3px;
    border: 1px solid #a7a7a7;
    font-size: 12px;
}

div#catalog #submitCreatorButton,
div#catalog #submitPxButton {
    background: url('../images/UI/catalog/bg-27px_silver_btn.png') repeat-x;
    width: 23px;
    height: 18px;
    position: relative;
    top: 1px;
    margin-left: 3px;
    padding: 2px 2px 0 2px;
}

div#catalog #submitCreatorButton:hover {
    background-position: bottom left;
}

div#catalog .priceFilter {
    font-size: 12px;
}

div#catalog .priceFilter:hover {
    text-decoration: underline;
}

div#catalog .priceFilter.selected {
    font-weight: 600;
    color: #343434;
}





div#catalog .BigInner div.roblox-item-image div.item-image-wrapper {
    position: relative;
    overflow: hidden;
}

div#catalog .BigInner div.roblox-item-image div.item-image-wrapper .limited-overlay,
div#catalog .BigInner div.roblox-item-image div.item-image-wrapper .bc-overlay {
    position: absolute;
    left: 8px;
    bottom: 7px;
}

div#catalog .BigInner div.roblox-item-image div.item-image-wrapper .xbox-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
}


div#catalog .BigInner div.roblox-item-image.image-large div.item-image-wrapper {
    width: 150px;
    height: 150px;
}

div#catalog .BigInner div.roblox-item-image.image-large div.item-image-wrapper img.original-image {
    width: 150px;
    height: 150px;
}





div#catalog .price-label {
    font-size: 10px;
    color: #666;
    font-style: italic;
    margin-top: 2px;
}


div#catalog .remaining-count {
    font-size: 10px;
    color: #cc0000;
    margin-top: 2px;
    display: none;
}

div#catalog .CatalogItemInner:hover .remaining-count {
    display: block;
}


div#catalog .CatalogItemInner .item-image-wrapper {
    position: relative;
}

div#catalog .CatalogItemInner .item-image-wrapper .limited-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    max-width: 100%;
}

div#catalog .CatalogItemInner .item-image-wrapper .bc-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
}


div#catalog .CatalogItemOuter[data-limited-unique="true"] .CatalogItemName a,
div#catalog .BigOuter[data-limited-unique="true"] .CatalogItemName a {
    color: #7b1fa2;
}


div#catalog .CatalogItemOuter:hover .price-label,
div#catalog .BigOuter:hover .price-label {
    color: #333;
}





.CatalogItemName,
.CatalogItemName a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}


.CatalogHoverContent {
    display: none !important;
    overflow: hidden !important;
}


.CatalogItemOuter:hover .CatalogHoverContent,
.BigOuter:hover .CatalogHoverContent {
    display: block !important;
}

.CatalogHoverContent .HoverInfo {
    display: inline-block !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 80px !important;
    vertical-align: bottom !important;
}


.CatalogHoverContent > div {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

