


.dark-theme {
    background: #222224 url('../images/obc-repeating.jpg') repeat-x top center !important;
}


.dark-theme .home-container-wrapper {
    background: #F2F2F2;
    max-width: 1030px;
    padding: 30px;
}


.dark-theme .rbx-header,
.dark-theme #header {
    background-color: #232323 !important;
}


.dark-theme .rbx-header a,
.dark-theme .rbx-header .navbar-brand,
.dark-theme .rbx-header .rbx-navbar li a {
    color: #fff !important;
}


.dark-theme .navbar-brand .icon-logo,
.dark-theme .navbar-brand .icon-logo-r {
    filter: grayscale(100%) invert(1);
}


.dark-theme .rbx-header .rbx-navbar li a:hover,
.dark-theme .rbx-header .rbx-navbar li a:focus,
.dark-theme .rbx-header .rbx-navbar-icon-group li a:hover,
.dark-theme .rbx-header .rbx-navbar-icon-group li a:focus,
.dark-theme .rbx-header .rbx-navbar-right-nav li a:hover,
.dark-theme .rbx-header .rbx-navbar-right-nav li a:focus {
    background-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 5px !important;
}


.dark-theme .rbx-header .rbx-nav-collapse:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 5px !important;
}


.dark-theme .rbx-header .rbx-navbar-search .rbx-input-field,
.dark-theme .rbx-header .navbar-search input {
    background-color: #333 !important;
    border-color: #444 !important;
    color: #fff !important;
}

.dark-theme .rbx-header .rbx-navbar-search .rbx-input-field::placeholder,
.dark-theme .rbx-header .navbar-search input::placeholder {
    color: #999 !important;
}


.dark-theme .rbx-header .rbx-navbar-search .rbx-input-addon-btn:hover {
    background-color: #444 !important;
}


.dark-theme .rbx-header .rbx-navbar-search .rbx-dropdown-menu {
    background-color: #2a2a2a !important;
    border-color: #444 !important;
}

.dark-theme .rbx-header .rbx-navbar-search .rbx-dropdown-menu li:hover {
    background-color: #333 !important;
}


.dark-theme .settings-dropdown .dropdown-item {
    color: #191919 !important;
}

.dark-theme .settings-dropdown .dropdown-item:hover {
    background: #e5e5e5 !important;
    color: #000000 !important;
}


.dark-theme .games-list-header h3,
.dark-theme .filtered-games-title {
    color: #fff !important;
}


.dark-theme[data-internal-page-name="Catalog"] .nav-content-inner {
    background: #F2F2F2;
    border-radius: 8px;
    position: relative;
    margin-top: 300px;
}


.dark-theme[data-internal-page-name="Catalog"] .nav-content-inner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 100vw;
    background: #F2F2F2;
    z-index: -1;
}

.dark-theme[data-internal-page-name="Catalog"] #Body {
    background: #F2F2F2;
}



.dark-theme[data-internal-page-name="Character"] .container-main,
.dark-theme[data-internal-page-name="Character"] .content {
    background-color: transparent !important;
}



.dark-theme[data-internal-page-name="Groups"] #Body {
    background: #F2F2F2;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden; 
}

.dark-theme[data-internal-page-name="Groups"] #Body::after {
    content: '';
    display: table;
    clear: both;
}

.dark-theme[data-internal-page-name="Groups"] .MyRobloxContainer {
    overflow: hidden; 
}

.dark-theme[data-internal-page-name="Groups"] .MyRobloxContainer::after {
    content: '';
    display: table;
    clear: both;
}

