


#visual-cart {
  margin-left: 60px; }

.product {
  margin-bottom: 20px; }
  .product .icon-robux-gold {
    background-size: 100% auto;
    width: 72px;
    height: 72px;
    background-position: 0px 0px;
    background-size: 144px;
    margin-bottom: 4px;
    float: unset; }

#checkout-message {
  margin-left: 300px; }

#success-title {
  margin-bottom: 10px; }

#success-body {
  margin-left: 5px; }
  #success-body .description {
    width: 400px; }

#support-a-star-success {
  margin-top: 20px; }

